{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block main %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">About Sneaker Scripts</h1>
      <p class="lead">Sneaker Scripts is a subscription service for downloading Python scripts that help with the process of purchasing limited edition sneakers and other high-demand items online.</p>
    </div>
  </div>
  <div class="container mt-4">
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Easy to Use</h5>
            <p class="card-text">Our scripts are designed to be easy to use and highly effective, allowing you to get the items you want without spending hours refreshing your browser or waiting in virtual lines.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Constantly Updated</h5>
            <p class="card-text">We understand the importance of staying up to date with the latest trends and technologies in the sneaker and limited edition item market, and we strive to provide our users with the most advanced and effective scripts available.</p>
            <p class="card-text">With Sneaker Scripts, you'll have access to a growing library of scripts that are constantly updated to stay ahead of the competition.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Expert Team</h5>
            <p class="card-text">Our team of experts are constantly researching and developing new techniques and strategies to help you stay ahead of the competition. Our team consists of experienced programmers, sneaker enthusiasts and online shopping experts.</p>
            <p class="card-text">Join Sneaker Scripts today and give yourself the competitive edge you need to secure those highly sought after items.</p>
            
              </div>
            {% endblock %}
