{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block main %}
  <div class="container mt-4">
    <h1>About Sneaker Scripts</h1>
    <p>Sneaker Scripts is a subscription service for downloading Python scripts that help with the process of purchasing limited edition sneakers and other high-demand items online.</p>
    <p>Our scripts are designed to be easy to use and highly effective, allowing you to get the items you want without spending hours refreshing your browser or waiting in virtual lines.</p>
    <p>With Sneaker Scripts, you'll have access to a growing library of scripts that are constantly updated to stay ahead of the competition.</p>
  </div>
{% endblock %}