{% extends "base.html" %}

{% block title %}Terms and Conditions{% endblock %}

{% block main %}
  <div class="container mt-4">
    <h1>Terms and Conditions</h1>
    <textarea class="form-control" rows="10">Bot.ai Subscription Service Terms and Conditions

        1. Introduction
        These Website Standard Terms and Conditions written on this webpage shall manage your use of our website, Webiste Name accessible at Website.com.
        
        2. By using our Website, you accepted these terms and conditions in full. If you disagree with these terms and conditions or any part of these terms and conditions, you must not use our Website.
        
        3. License to use website
        
        Unless otherwise stated, we or our licensors own the intellectual property rights in the website and material on the website. Subject to the license below, all these intellectual property rights are reserved.
        
        You may view, download for caching purposes only, and print pages from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.
        
        You must not:
        
        republish material from this website (including republication on another website);
        
        sell, rent or sub-license material from the website;
        
        show any material from the website in public;
        
        reproduce, duplicate, copy or otherwise exploit material on our website for a commercial purpose;
        
        edit or otherwise modify any material on the website; or
        
        redistribute material from this website except for content specifically and expressly made available for redistribution.
        
        Where content is specifically made available for redistribution, it may only be redistributed within your organisation.
        
        4. Acceptable use
        You must not use our website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.
        
        You must not use our website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.
        
        You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to our website without the express written consent of [business name].
        
        You must not use our website to transmit or send unsolicited commercial communications.
        
        You must not use our website for any purposes related to marketing without the express written consent of [business name].
        
        5. Restricted access
        We reserve the right to restrict access to areas of our website, or indeed our whole website, at our discretion and without notice.
        
        If we provide you with a user ID and password to enable you to access restricted areas of our website or other content or services, you must ensure that the user ID and password are kept confidential at all times.
        
        We reserve the right to disable your user ID and password at any time, without notice or explanation.
        
        
        
        </textarea>
        <a href="/signup?checkbox=true"><button type="button" class="btn btn-primary mt-4">Accept</button></a>
      </div>
{% endblock %}